@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Razor;







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantReservation</title>

    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>

    <!-- Favicons -->
    <link href="~/img/favicon.ico" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/aos.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/bootstrap-icons/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/css/glightbox.min.css" rel="stylesheet">
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v3.1.0
    * Template URL: bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: bootstrapmade.com/license/
    ======================================================== -->

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    <div class="wrapper">

        <!-- ======= Top Bar ======= -->
        <div id="topbar" class="d-flex align-items-center fixed-top">
            <div class="container d-flex justify-content-center justify-content-md-between">

                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-phone d-flex align-items-center"><span> +1 555 867 5309 </span></i>
                </div>
            </div>
        </div>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-cente">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

                <h1 class="logo me-auto me-lg-0"><a class="navbar-brand" style="color:darkred" asp-area="" asp-controller="Home" asp-action="Index">Restaurant Reservation</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
                        <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
                        <li><a class="nav-link scrollto" href="#events">Events</a></li>
                        <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
                        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>
            </div>
        </header><!-- End Header -->
        <!--MAIN BODY SECTION-->
        <div id="main-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="container-fluid pt-5 mt-5">
                    @RenderBody()
                    <hr />
                </div>
            </div>
        </div>
        <!-- ./wrapper -->
    </div>




    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" ">
                        <div class="footer-info mt-3">
                            <h3 style="color:darkred">Restaurant Reservation</h3>
                        </div>
                    </div>
                    <div class="col-lg-4" ">
                        <div class="copyright mt-3" style="color:burlywood">
                            &copy; 2021 <strong><a href="https://srussellportfolio.com" style="color:darkred" target="_blank">Shawna Russell</a></strong>
                            All rights reserved.
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <div class="footer-info align-bottom">
                            <div class="social-links">
                                <a href="https://twitter.com/sgccoder" class="twitter"><i class="bx bxl-twitter" target="_blank"></i></a>
                                <a href="https://github.com/shawnatwrussell" class="github"><i class="bx bxl-github" target="_blank"></i></a>
                                <a href="https://www.linkedin.com/in/shawna-russell/" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->




    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <script src="~/js/jquery.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/js/aos.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
