
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Reservation | Landing Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Vendor CSS Files -->
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/aos.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/css/glightbox.min.css" rel="stylesheet">
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet">


    <style>
        body {
            background-image: url('../../img/landing.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Restaurant Reservation Web Application</h1>
                    <p class="lead">
                        Restaurant Reservation is a web application that allows users to reserve a specific date/time reservation
                        for a restaurant and includes email confirmation.
                        This application was built using C# .NET 5
                        utilizing both the MVC and MVVM design patterns.
                        The front end is a customized Bootstrap 4 template.
                    </p>
                    <p class="lead">Developed and deployed on a PostgreSQL database managed with PgAdmin</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-dark btn-lg justify-content-center" asp-controller="Home" asp-action="Dashboard">
                            TRY IT OUT!
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" ">
                        <div class="footer-info mt-3">
                            <h3 style="color:darkred">Restaurant Reservation</h3>
                        </div>
                    </div>
                    <div class="col-lg-4" ">
                        <div class="copyright mt-3" style="color:burlywood">
                            &copy; 2021 <strong><a href="https://srussellportfolio.com" style="color:darkred" target="_blank">Shawna Russell</a></strong>
                            All rights reserved.
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <div class="footer-info align-bottom">
                            <div class="social-links">
                                <a href="https://twitter.com/sgccoder" class="twitter"><i class="bx bxl-twitter" target="_blank"></i></a>
                                <a href="https://github.com/shawnatwrussell" class="github"><i class="bx bxl-github" target="_blank"></i></a>
                                <a href="https://www.linkedin.com/in/shawna-russell/" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->


    <!--SCRIPTS-->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/js/aos.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>



</body>
</html>


