
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SRussell | Landing Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/img/webfonts">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/site.css">


    <style>
        body {
            background-image: url('../../img/landing.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #footer .footer-top .social-links a {
            background: teal;
            color: lightskyblue;
        }

    </style>
</head>


<body>
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col">
                <div class="jumbotron bg-info">
                    <h1 class="display-4">Restaurant Reservation Web Application</h1>
                    <p class="lead">
                        Restaurant Reservation is a web application that allows users to reserve a specific date/time reservation
                        for a restaurant and includes email confirmation.
                        This application was built using C# .NET 5
                        utilizing both the MVC and MVVM design patterns.
                        The front end is a customized Bootstrap 4 template.
                    </p>
                    <p class="lead">Developed and deployed on a PostgreSQL database managed with PgAdmin</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-light btn-lg justify-content-center" asp-area="Identity" asp-page="/Account/Login">
                            TRY IT OUT!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container align-content-center">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="copyright mt-3" style="color:teal">
                            &copy; 2021 <strong><a href="https://srussellportfolio.com" style="color:lightskyblue" target="_blank">Shawna Russell</a></strong>
                            All rights reserved.

                            <div class="social-links">
                                <a href="https://twitter.com/sgccoder" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://github.com/shawnatwrussell" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                                <a href="https://www.linkedin.com/in/shawna-russell/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
  
    
    <!--SCRIPTS-->
    <!-- jQuery -->
    <script src="~/dist/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>


</body>
</html>








