
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Reservation | Landing Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">

    <style>
        body {
            background-image: url('../../img/landing.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col">
                <div class="card" style="background-color:lightyellow">
                    <div class="card-header">
                        Restaurant Reservation Web Application
                    </div>
                    <div class="card-body">
                        Restaurant Reservation is a web application that allows users to reserve a specific date/time reservation
                        for a restaurant and includes email confirmation.
                        This application was built using C# .NET 5
                        utilizing both the MVC and MVVM design patterns.
                        The front end is a customized Bootstrap 4 template.
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-dark btn-lg justify-content-center" asp-controller="Home" asp-action="Dashboard">TRY IT OUT!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-body bg-light">
                    <h1 class="display-4">Restaurant Reservation Web Application</h1>
                    <p class="lead">
                        Restaurant Reservation is a web application that allows users to reserve a specific date/time reservation
                        for a restaurant and includes email confirmation.
                        This application was built using C# .NET 5
                        utilizing both the MVC and MVVM design patterns.
                        The front end is a customized Bootstrap 4 template.
                    </p>
                    <p class="lead">Developed and deployed on a PostgreSQL database managed with PgAdmin</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-dark btn-lg justify-content-center" asp-controller="Home" asp-action="Dashboard">
                            TRY IT OUT!
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>
